/PetPal/*.iml
/PetPal/.gradle
/PetPal/local.properties
/PetPal/.idea/caches
/PetPal/.idea/libraries
/PetPal/.idea/modules.xml
/PetPal/.idea/workspace.xml
/PetPal/.idea/navEditor.xml
/PetPal/.idea/assetWizardSettings.xml
/PetPal/.DS_Store
/PetPal/build
/PetPal/captures
/PetPal/.externalNativeBuild
/PetPal/.cxx
/PetPal/local.properties
